#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    position: relative;
    background-color: #0A6795;
    // background: linear-gradient(180deg, rgba(5, 51, 74, 0) 0%, #0A6795 58.12%);
    // background-image: url(../../assets/img/FooterIcons/FooterBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    

    color: white;
    font-family: 'Montserrat';

    *{
        z-index: 3;
    }

    div{
        // margin-top: 8vmax;
        display: flex;
        flex-direction: row;
        width: 100%;
        .office{
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            padding: 0% 3% 0% 3%;
            
            img{
                align-self: start;
                height: clamp(50px, 15vmax, 150px);
                margin-right: 5%;
                padding-top: 10%;
            }

            p{
                width: 100%;
                font-size: clamp(12px, 3vw, 18px);
                line-height: normal ;
            }
        }

        .contactInfo{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            width: 50%;
            padding-right: 3%;

            span{
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;

                &:hover{
                    opacity: 0.5;
                    scale:(0.98);
                }

                p{
                    font-size: clamp(12px, 3vw, 18px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: normal;
                }

                img{
                    width: auto;
                    height: 3vmax;
                    margin-right: 5%;
                }
            }
        }
    }

    hr{
        width: 80%;
        outline: none;
    }
    p.copyright{
        margin-top: -0.5%;
        font-size: clamp(12px, 3vw, 18px);
        text-align: center;
    }
}

@media (min-width: 992px){
    #footer{
        div{
            justify-content: center;

            .office{
                width: 40%;
            }

            .contactInfo{
                width: 35%;
            }
        }
    }
}